.site-outerbox
{
width:1800px;
height:1600px;
margin-left:auto;
margin-right:auto;
background-color:#b0c4de;
}

.site-wrapper
{
width:800px;
min-height:600px;
background-image:url(/home/loy/blog_site/images/blogsite_background01.png);
#border:solid 1px black;
}

.content-wrapper
{
margin-top:90px;
margin-left:70px;
#float:left;
width:180px;
height:420px;
}

.right-navigation
{
margin-top:350px;
float:right;
width:100px;
height:250px;
#border:solid 1px black;
}

.panel
{
margin-top:1px;
margin-bottom:1px;
#background:#b0c4de;
}

.panel_content
{
margin-left:auto;
margin-right:auto; 
padding:5px;
}